
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}

/*centrado de letras*/
.main{
    width: 100%;
    height: 100vh; 
    display: flex;
    text-align:  center;
}

/*color  y ancho de la barra*/
.menu{
    width: 20%;
    background-color: blueviolet;
}

/*color, espacio y letra del logo*/
#logo{
    color: #FFF;
    font-size: 30px;;
    letter-spacing: 4px;
    padding: 15px;
    background-color: blueviolet ;
    box-shadow: black;
}

/*efecto de los menus*/
.menu a{
    text-decoration: none;;
    color: #FFF;
    font-size: 10px;
    letter-spacing: 2px;
    display: list-item;
    padding: 20px;
    border-top: 1px  black;
    border-bottom: 1px  black;
}

.menu a:hover{
    background-color:#6e6e6e5b ;
    transition: 0.5s;
    letter-spacing: 4px;
    text-transform: uppercase ;
    
}

.body{
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.body h1{
    margin-top: 250px;
    color: #FFF;
    letter-spacing:  4px;
    padding: 20px;
    background-color: aqua;
}
