{% extends 'base.html.twig' %}

{% block title %} ERROR {% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ app.request.getBaseURL() }}/assets/css/espera.css">

{% endblock %}
{% block body %}

 <header>

        <nav id="nav" class="nav1">
            <div class="contenedor-nav">

                <div class="enlaces" id="enlaces">
                    <a href="{{ app.request.getBaseURL() }}/signup" class="btn-header">Atras</a>
                    </div>
                     </div>
                    </nav>
                    </header>

<div class="container">
<h1 class="login-text">ERROR AL CREAR USUARIO</h1>
</div>
{% endblock %}
