{% extends 'base.html.twig' %}


{% block stylesheets %}
<link rel="stylesheet" href="{{ app.request.getBaseURL() }}/assets/css/espera.css">

{% endblock %}
{% block body %}

 <header>

        <nav id="nav" class="nav1">
            <div class="contenedor-nav">

                <div class="enlaces" id="enlaces">
                    <a href="{{ app.request.getBaseURL() }}" class="btn-header">Home</a>
                    </div>
                     </div>
                    </nav>
                    </header>


<div class="container">
<h1 class="login-text"> Para solicitar una cita Registrate</h1>
<a class="btn" href="{{ app.request.getBaseURL() }}/signup">Aquí</a>
<h1 class="login-text"> Usuario ya registado, solo acceder y crear cita <h1>
</div>
<div class="container">
<h1 class="login-text"> Para Acceder  </h1>
<a  class="btn" href="{{ app.request.getBaseURL() }}/login">Aquí</a>
</div>

{% endblock %}

